<div class="eachvid">
  <button ng-click="$ctrl.delvid($ctrl.vid.hashed_id)" type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="$ctrl.delvid($ctrl.vid.hashed_id)" class="closespan">×</span></button>
  <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_{{$ctrl.vid.hashed_id}} videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
</div>
